/* @media (max-width: 768px) {
  .booking-btn {
    left: 30px;
    bottom: 30px;
  }

  .call-btn {
    left: 110px;
    bottom: 30px;
  }

  .whatsapp-btn {
    left: 190px;
    bottom: 30px;
  }

  .pulse-ring {
    display: none !important;
  }
} */
